.page-header

  %nav.navbar.navbar-light.bg-light.navbar-expand-lg.justify-content-between
    %a.navbar-brand{:href => '#'}
      %img.d-inline-block.align-top{:alt => '', :height => '30', :src => '/img/cash.svg', :width => '30'}/
      = t( 'gold.title' )

    #navbarNavDropdown.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :href => 'http://example.com'}
            = t( 'gold.lang.english' )
          .dropdown-menu{'aria-labelledby' => 'navbarDropdownMenuLink'}
            %a.dropdown-item{:href => '/'}
              .flag-icon
                %i.flag.flag-gb
              = t( 'gold.lang.english' )
            %a.dropdown-item{:href => '/fr/index.html' }
              .flag-icon
                %i.flag.flag-fr
              = t( 'gold.lang.french' )

  = partial :bdy