.page-header
  %h1
    = t( '.title' )

  .row
    .col-2
      .input-group
        %span.input-group-addon{ id: :ppl }
          = t( 'gold.labels.pp' )
        = number_field_tag 'pp', '', min: 0, class: 'form-control weight-compute', 'aria-describedby': :ppl

    .col-2
      .input-group
        %span.input-group-addon{ id: :gpl }
          = t( 'gold.labels.gp' )
        = number_field_tag 'gp', '', min: 0,  class: 'form-control weight-compute', 'aria-describedby': :gpl

    .col-2
      .input-group
        %span.input-group-addon{ id: :epl }
          = t( 'gold.labels.ep' )
        = number_field_tag 'ep', '', min: 0,  class: 'form-control weight-compute', 'aria-describedby': :epl

    .col-2
      .input-group
        %span.input-group-addon{ id: :spl }
          = t( 'gold.labels.sp' )
        = number_field_tag 'sp', '', min: 0,  class: 'form-control weight-compute', 'aria-describedby': :spl
    .col-2
      .input-group
        %span.input-group-addon{ id: :cpl }
          = t( 'gold.labels.cp' )
        = number_field_tag 'cp', '', min: 0,  class: 'form-control weight-compute', 'aria-describedby': :cpl

  %hr

  %br
  .row
    .col-2
      .input-group
        %span.input-group-addon{ id: :weightlbl }
          = t( 'gold.labels.weightlb' )
        = number_field_tag 'weightlb', '', class: 'form-control', 'aria-describedby': :weightlbl
    .col-2
      .input-group
        %span.input-group-addon{ id: :weightkgl }
          = t( 'gold.labels.weightkg' )
        = number_field_tag 'weightkg', '', class: 'form-control', 'aria-describedby': :weightkgl